//litapalletta
$hviturImg: rgba(#fff, 0.4);
$svartur: #000;
$grar1: #999;
$grar2: #aaa;
$grar3: #ccc;
$graenn1: #2d2;
$graenn2: #1a1;
$hvitur: #fcffd2;
$bleikur: #cc9694;

//grunnstærðir
$max-width: 1200px;
$gutter: 20px;
$leturstaerd1: 16px;
$leturstaerd2:24px;
$leturstaerd3:32px;
$leturstaerd4: 48px;

//Leturgerðir
$leturMeginmal: "Lora", "Times New Roman", "serif";
$leturFyrirsagnir: "Roboto Mono", "Courier New", monospace;

//Annað

//brotpunktar og hreyfingar
$brotpunktur1: 800px;
$brotpunktur2: 1000px;
$hreyfing: 300ms ease-in-out;
