@import "config";

.main{
    max-width: 1500px;
    margin:auto;
    align-items: center;
    display:flex;
    flex-direction: column;
   
}

.grid{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
    align-content: center;
    //$max-width
    //margin:auto;
   


    &__row{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $gutter;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @media (min-width: $brotpunktur1){
            flex-direction: row;
            
        }

        @media (min-width: $max-width){
            padding:0;
        }
        
        
    }

}

.lectures{
    display:flex;
    flex-direction:column-reverse;
    //flex-wrap:wrap;
    padding: $gutter;
    
    width: 100%;
    height:100%;

    @media (min-width: $brotpunktur1){
        width: 50%;
    }

    @media (min-width: $brotpunktur2){
        width: 33%;
        
    }

    &:hover{
        cursor:pointer;
    }
    &__image{
        max-height:100%;
        max-width:100%;
    }
    &__image-img{
        max-height:100%;
        max-width:100%;
    }
    
    &__title{
        background-color: $grar3;
        font-family: $leturFyrirsagnir;
        font-size: $leturstaerd2;
        display:inline-flex;
        justify-content: space-between;

    }

    &__checked{
        color:$graenn1;
        padding-right:$gutter*0.5;
    }
    &__h2{

        &-text{
            order:-1;
            padding: $gutter*0.5;
        }
        
    }
    &__category{
        text-transform: uppercase;
        background-color: $grar3;
        font-family: $leturMeginmal;
        font-size: $leturstaerd1;
        font-weight: normal;
    }
    &__noImg{
        @media (min-width:1200px){
            background-color: $grar3;
            height:207px;
        }
    }
}


.index-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: $gutter;

     @media (min-width: $brotpunktur1){
         
     }
    
    
    &__html-butt, &__css-butt, &__js-butt{
        padding: 7px;      
        border-radius: 10px;
        font-size: $leturstaerd2;
        font-family: $leturFyrirsagnir;
        font-weight:bold;
        background-color: $grar3;
        transition: background-color $hreyfing;
        margin: $gutter;
        border:none;
        

        @media (min-width:$brotpunktur1){
            margin: $gutter*2;
        }
    &:hover{
        background-color: $grar1;
    }
    &:focus{
        outline:none;
    }
    }
}

.js-active, .css-active, .html-active{
    background-color: $graenn2;

    &:hover{
        background-color: $graenn1;
    }
}
.index-header{
    background-image: url("/img/header.jpg");
}

.header{
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content{
        display:flex;
        height:100%;
        width:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:  rgba(#fff, 0.4);
        padding-top: $gutter*6;
        padding-bottom: $gutter*6;

        @media (min-width: $max-width){
            padding-top:$gutter*8;
            padding-bottom:$gutter*8;
        }
    }

    &__h3{
        font-family: $leturMeginmal;
        text-transform: uppercase;
        
    }

    &__h1{
        font-family: $leturFyrirsagnir;   
        font-size: $leturstaerd4;   
    }
}


