@import "config";

.main {
  //max-width: 1500px;
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-direction: column;

}

.grid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1200px;
  align-content: center;

  &__row {
    display: flex;
    width: 100%;
    padding: $gutter;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $brotpunktur1) {
      flex-direction: row;
      justify-content: space-between;

    }

    @media (min-width: $max-width) {
      padding: 0;
    }
  }
}

.lectures {
  display: flex;
  width: 100%;
  height: 100%;
  padding: $gutter;
  flex-direction: column-reverse;

  @media (min-width: $brotpunktur1) {
    width: 50%;
  }

  @media (min-width: $brotpunktur2) {
    width: 33%;

  }

  &:hover {
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__image-img {
    width: 100%;
    height: 100%;
  }

  &__title {
    display: inline-flex;
    font-family: $leturFyrirsagnir;
    font-size: $leturstaerd2;
    background-color: $grar3;
    justify-content: space-between;

  }

  &__checked {
    padding-right: $gutter*0.5;
    color: $graenn1;
  }

  &__h2 {
    &-text {
      order: -1;
      padding: $gutter*0.5;
    }

  }

  &__h3 {
    padding: 2px;
    font-weight: 400;
  }

  &__category {
    font-family: $leturMeginmal;
    font-size: $leturstaerd1;
    text-transform: uppercase;
    background-color: $grar3;

  }

  &__noImg {
    @media (min-width: 1200px) {
      height: 207px;
      background-color: $grar3;
    }
  }
}

.index-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: $gutter;

  @media (min-width: $brotpunktur1) {
    //

  }

  &__html-butt,
  &__css-butt,
  &__js-butt {

    margin: $gutter*0.5;
    font-family: $leturFyrirsagnir;
    font-size: $leturstaerd2;
    font-weight: bold;
    background-color: $grar3;
    border: 0;
    border-radius: 10px;
    transition: background-color $hreyfing;
    @media (min-width: 500px) {
      margin: $gutter;
    }

    @media (min-width: $brotpunktur1) {
      padding: 7px;
      margin: $gutter*2;
    }

    &:hover {
      background-color: $grar1;
    }

    &:focus {
      outline: none;
    }
  }
}

.js-active,
.css-active,
.html-active {
  background-color: $graenn2;

  &:hover {
    background-color: $graenn1;
  }
}

.index-header {
  background-image: url("../img/header.jpg");

}

.index-h1 {
  @media (min-width: 600px) {
    letter-spacing: 0.5em;
  }
}

.header {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: $gutter*6;
    padding-bottom: $gutter*6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, 0.4);

    @media (min-width: $max-width) {
      padding-top: $gutter*8;
      padding-bottom: $gutter*8;
    }
  }

  &__h3 {
    font-family: $leturMeginmal;
    font-weight: 600;
    text-transform: uppercase;

  }

  &__h1 {
    font-family: $leturFyrirsagnir;
    font-size: $leturstaerd4;
  }
}
